<div class="modal" id="username-modal" tabindex="-1" role="dialog" aria-labelledby="username-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="username-modal-label">Enter Your Username</h5>
      </div>
      <div class="modal-body">
        <input type="text" id="username-input" class="form-control" placeholder="Username">
      </div>
      <div class="modal-footer">
        <button type="button" id="username-submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="card mt-5">
    <div class="card-header bg-primary text-white">
      <h2 class="mb-0">ChatBot</h2>
    </div>
    <div class="card-body chat-body">
      <div class="messages-container vh-100" style="max-height: calc(100vh - 250px); overflow-y: auto;">
        <div class="messages-wrapper me-3">
          <ul class="list-unstyled messages" id="messages">
            {{#each messages}}
              <li class="message {{#if isSentByUser}}user{{else}}other{{/if}}">
                <div class="card mt-3">
                  <div class="card-body">
                    <div class="card-body">
                      <h6 class="card-title">
                        <em>{{user}}</em>
                        <span class="message-id">{{_id}}</span>
                      </h6>
                      <p class="card-text">{{message}}</p>
                      <span class="timestamp text-muted">{{timestamp}}</span>
                    </div>
                  </div>
                </div>
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <form id="message-form">
        <div class="input-group">
          <input type="text" id="message-input" class="form-control me-4" placeholder="Type a message...">
          <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Send</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/chat.js"></script>




